* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}
.root {
  background-color: lightblue;
  height: 100vh;
  overflow-y: scroll;
  overflow-x: hidden;
  width: 100vw;
}
.main {
  background-color: rgb(208, 208, 228);
  border-radius: 40px 40px 0px 0px;
  box-shadow: 10px 20px 40px grey;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50vw;
  height: 100vh;
  overflow-x: hidden;
  margin: 20vh 20vw auto 20vw;
}
.main > form > label {
  display: grid;
  grid-template-rows: auto;
  justify-content: center;
}
.main > form > label > input {
  outline: none;
  border-radius: 5px;
  padding: 2vw;
  font-family: "Roboto";
  font-size: large;
}
.main > form > label > button {
  padding: 15px;
  margin-top: 4px;
  border: none;
  border-color: none;
  box-shadow: none;
  outline: none;
  border-radius: 5px;
  color: white;
  font-size: 1.5rem;
  background-color: rgb(242, 78, 78);
  box-shadow: inset 0 0 0 0 yellow;
  transition: ease-out 1.6s;
}
.main > form > label > button:hover {
  box-shadow: inset 100vw 0 0 0 rgb(21, 255, 0);
  color: black;
}
.heading {
  margin: 20px auto 4px auto;
}
.listItems > ol {
  display: grid;
  justify-content: center;
  padding: 50px;
  list-style-type: none;
  grid-auto-flow: row;
}
.listItems > ol > li {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: rgb(179, 142, 213);
  box-shadow: 1px 1px 1px grey;
  border-radius: 5px;
  margin-top: 10px;
  transition: 0.2s ease-in;
}
.listItems > ol > li > div {
  display: flex;
  justify-content: stretch;
  padding: 15px 8px 15px 8px;
  cursor: default;
  transition:padding .2s ease;
}
#taskText {
  position: relative;
  float: left;
  transition: font ease-in .2s;
}
#deleteButton {
  align-self: stretch;
  transition: background, padding ease-in 1s;
  border:none;
  outline:none;
  border-radius: 5px;
}
.listItems > ol > li:hover #taskText {
  font-size: larger;
}
.listItems > ol > li:hover > div {
  padding: 20px;
}
#deleteButton:hover {
  background-color: red;
}
#checkbox {
  align-self: center;
  width: 20px;
  height: 20px;
  transition: scale 0.2s ease;
}
.listItems > ol > li:hover #checkbox{
  scale: 2;
}
.listItems > ol > li:hover {
  display: flex;
  justify-content: space-between;
  box-shadow: 4px 4px 40px grey;
}
